footer {
  background-color: #03254C;
}
footer .footer_header {
  padding: 70px 0;
  box-sizing: border-box;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.35);
  margin: auto;
  display: flex;
  justify-content: space-between;
}
footer .footer_header .title_block h2 {
  font-size: 44px;
  line-height: 52px;
  font-weight: 600;
  color: #ffffff;
  padding-bottom: 5px;
  box-sizing: border-box;
  letter-spacing: 4.4px;
}
footer .footer_header .title_block p {
  font-size: 20px;
  line-height: 30px;
  color: #9a9a9a;
}
footer .footer_header .app_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
footer .footer_body {
  padding: 70px 0px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  grid-gap: 40px;
  margin: auto;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.35);
}
footer .footer_body .footer_block .footer_title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 15px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
footer .footer_body .footer_block .links .footer_link {
  font-size: 16px;
  line-height: 22px;
  color: #b1b1b1;
  display: block;
  padding: 5px 0px;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
}
footer .footer_body .footer_block .links .footer_link:hover {
  color: #ffffff;
}
footer .footer_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  box-sizing: border-box;
}
footer .footer_bottom .social_block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-gap: 20px;
}
footer .footer_bottom .bottom_footer p {
  color: #909090;
  font-size: 16px;
  line-height: 22px;
}
@media only screen and (max-width: 1024px) {
  footer .footer_header {
    padding: 30px 0;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
  }
  footer .footer_header .title_block h2 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 2px;
  }
  footer .footer_header .title_block p {
    font-size: 14px;
    line-height: 20px;
  }
  footer .footer_body {
    padding: 0 0 30px;
    display: block;
    width: 100%;
    border-bottom: 0;
  }
  footer .footer_body .footer_block .footer_title {
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    padding: 15px 0px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.35);
    background-image: url("../images/plus-64.webp");
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: 98% center;
    letter-spacing: 2px;
  }
  footer .footer_body .footer_block .links {
    display: none;
  }
  footer .footer_body .footer_block .links .footer_link {
    font-size: 14px;
    line-height: 22px;
    display: block;
    padding: 5px 0px;
    transition: 0.3s ease-in-out;
  }
  footer .footer_bottom {
    width: 100%;
    flex-direction: column;
    padding: 0 0 20px;
  }
  footer .footer_bottom .social_block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 10px;
  }
  footer .footer_bottom .bottom_footer p {
    font-size: 14px;
    line-height: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  footer .footer_header {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
  }
  footer .footer_header .title_block {
    text-align: left;
  }
  footer .footer_bottom {
    flex-direction: row;
  }
  footer .footer_bottom .social_block {
    justify-content: center;
  }
}
@media only screen and (min-width:1025px) and (max-width: 1480px) {
  footer .footer_header {
    gap: 40px;
    padding: 30px 0;
  }
  footer .footer_header .title_block h2 {
    font-size: 24px;
    line-height: 32px;
  }
  footer .footer_header .title_block p {
    font-size: 14px;
    line-height: 20px;
  }
  footer .footer_body {
    padding: 30px 0;
    grid-gap: 20px;
  }
  footer .footer_body .footer_block .footer_title {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  footer .footer_body .footer_block .links .footer_link {
    font-size: 15px;
    line-height: 24px;
    display: block;
    padding: 5px 0px;
    transition: 0.3s ease-in-out;
  }
  footer .footer_bottom {
    width: 100%;
  }
  footer .footer_bottom .bottom_footer p {
    font-size: 15px;
    line-height: 21px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1480px) {
  footer .footer_header {
    width: 100%;
  }
  footer .footer_header .title_block h2 {
    font-size: 30px;
    line-height: 38px;
    padding-bottom: 5px;
  }
  footer .footer_header .title_block p {
    font-size: 18px;
    line-height: 28px;
  }
  footer .footer_body {
    padding: 70px 0px;
    display: flex;
    justify-content: space-between;
    grid-gap: 40px;
    width: 100%;
    margin: auto;
  }
  footer .footer_bottom {
    width: 100%;
  }
  footer .footer_bottom .social_block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-gap: 20px;
  }
  footer .footer_bottom .bottom_footer p {
    font-size: 15px;
    line-height: 21px;
  }
}
