.salad_landing_page .banner_inner {
  padding-top: 0px;
}
.salad_landing_page .banner_inner .banner_block .banner_content {
  margin: auto;
  max-width: 600px;
  padding-top: 0px;
}
.salad_landing_page .banner_inner .banner_block .banner_content .banner_title {
  font-family: 'poppins', sans-serif;
  font-size: 50px;
  line-height: 58px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.salad_landing_page .banner_inner .banner_block .banner_content .banner_title:first-child {
  padding-bottom: 0px;
}
.salad_cards_outer .salad_subtitle {
  font-size: 40px;
  line-height: 52px;
  color: #313131;
  font-weight: 700;
  text-align: left;
}
.salad_cards_outer .slider-wrapper .swiper-container {
  position: static;
  padding-bottom: 40px;
}
.salad_cards_outer .salad_landing_swiper {
  padding-inline: 4%;
}
.product_Card.salad_cards {
  transition: none;
  cursor: pointer;
  border-color: transparent;
}
.product_Card.salad_cards .img_block {
  text-align: center;
  background: linear-gradient(178.69deg, #FFFFFF -4.65%, #EDEEF2 98.88%);
  padding: 30px;
  box-sizing: border-box;
}
.product_Card.salad_cards .img_block .cnt_block.size {
  padding: 0px;
}
.product_Card.salad_cards .img_block .cnt_block.size .product_title {
  margin-bottom: 15px;
  margin-top: 10px;
}
.product_Card.salad_cards .img_block .whishlist_icon {
  display: none;
}
.product_Card.salad_cards .img_block .whishlist_icon.tick_img img {
  width: 23px;
}
.product_Card.salad_cards .img_block .whishlist_icon.fav_icon_right {
  width: 18px;
}
.product_Card.salad_cards .cnt_block {
  padding: 15px 30px;
}
.product_Card.salad_cards .cnt_block .product_title {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 0px;
}
.product_Card.salad_cards .cnt_block .falvour {
  width: 75%;
  margin: auto;
  color: #808080;
  padding-bottom: 5px;
}
.product_Card.salad_cards .cnt_block .price {
  font-size: 19px;
  line-height: 28px;
  color: #070707;
  font-weight: 500;
}
.product_Card.salad_cards .cnt_block .product_cta {
  padding-top: 15px;
}
.product_Card.salad_cards:hover .cnt_block .product_title {
  display: block;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
}
.product_Card.salad_cards .add_to_basket {
  background-color: #c51f3c;
  color: #ffffff;
  font-weight: 500;
}
.product_Card.salad_cards .quantity {
  border-color: #c51f3c;
}
.product_Card.salad_cards .quantity .input-box {
  border-color: #c51f3c;
}
.product_Card.salad_cards.active {
  border: 1.5px solid #A26301;
}
.product_Card.salad_cards.active .img_block .whishlist_icon {
  display: block;
}
.create_bowl_slider {
  padding-top: 20px;
}
.create_bowl_outer {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.create_bowl_outer .common_block {
  flex: 1;
}
.create_bowl_outer .create_bowl {
  border: 2px dashed #000000;
  padding: 40px;
  background-color: #fef7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
}
.create_bowl_outer .create_bowl .create_circle {
  border-radius: 50%;
  width: 240px;
  border: 2px dashed #c51f3c;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.create_bowl_outer .create_bowl .create_circle .circle_title {
  font-size: 40px;
  line-height: 52px;
  font-weight: 400;
  color: #c51f3c;
  text-decoration: underline;
  text-transform: uppercase;
}
.create_bowl_outer .create_bowl .create_title {
  color: #000000;
  font-size: 40px;
  line-height: 52px;
  width: 60%;
  margin: auto;
  text-align: center;
  text-transform: capitalize;
}
.create_bowl_outer .image_bowl {
  position: relative;
}
.create_bowl_outer .image_bowl img {
  height: 100%;
  object-fit: cover;
}
.create_bowl_outer .image_bowl .create_bowl_mobile {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  z-index: 2;
}
.create_bowl_outer .image_bowl .create_bowl_mobile .create_title {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  padding-bottom: 10px;
}
.create_bowl_outer .image_bowl .create_bowl_mobile .primary_cta {
  background-color: #C51F3C;
  color: #fff;
}
.fav_bowl_outer {
  padding-top: 20px;
}
.fav_bowl_outer .salad_subtitle {
  font-weight: 600;
  padding-bottom: 30px;
}
.fav_bowl {
  display: flex;
  gap: 60px;
  overflow-x: auto;
  flex-wrap: nowrap;
}
.fav_bowl::-webkit-scrollbar {
  display: none;
}
.fav_bowl .salad_cards {
  width: 20%;
}
.fav_bowl .salad_cards .img_block {
  padding-block: 40px;
}
.fav_bowl .salad_cards .cnt_block .product_title {
  font-weight: 600;
  -webkit-line-clamp: 2;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.fav_bowl .salad_cards .cnt_block .product_title:hover {
  -webkit-line-clamp: 2;
}
.fav_bowl .salad_cards .cnt_block .product_cta .add_to_basket {
  background-color: transparent;
  color: #c51f3c;
  border-color: #c51f3c;
}
.fav_bowl .salad_cards .cnt_block .product_cta .add_to_basket:hover {
  background-color: #c51f3c;
  color: #fff;
}
.fav_bowl .salad_cards:hover .cnt_block .product_title {
  -webkit-line-clamp: 2;
  display: flex;
}
.salad_step_one .salad_subtitle {
  text-align: center;
}
.salad_step_one .salad_subtitle:nth-child(2) {
  padding-bottom: 50px;
}
.salad_step_one .salad_step_inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 20px;
}
.salad_step_one .salad_step_inner::-webkit-scrollbar {
  display: none;
}
.salad_step_one .salad_cards {
  min-width: 12em;
}
.salad_step_one .salad_cards .img_block .cnt_block.size .product_title {
  margin-bottom: 5px;
  margin-top: 20px;
}
.salad_step_one .salad_cards .img_block .cnt_block.size .size_cnt {
  color: #313131;
  font-weight: 500;
  width: 70%;
  margin: auto;
}
.salad_step_one .salad_cards .img_block .product_img {
  display: block;
  padding-block: 40px;
  min-height: 232px;
}
.salad_step_one .salad_cards .img_block .whishlist_icon {
  display: none;
}
.salad_step_one .salad_cards.active .img_block .whishlist_icon {
  display: block;
}
.salad_page .grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
}
.salad_page .salad_step_inner {
  width: 80%;
  margin: auto;
}
.salad_page .salad_bg {
  background-color: #FBFBFB;
}
.salad_page .salad_add_block {
  display: flex;
  justify-content: space-between;
}
.salad_page .salad_add_block .primary_title {
  font-size: 30px;
  line-height: 42px;
  font-weight: 700;
  color: #313131;
}
.salad_step_two.salad_cards_outer .salad_subtitle {
  text-align: center;
}
.salad_step_two .salad_subtitle {
  text-align: center;
}
.salad_step_two .salad_subtitle:nth-child(2) {
  padding-bottom: 50px;
}
.salad_step_two .accordion {
  cursor: pointer;
}
.salad_step_two .accordion.active .icon:after {
  content: "-";
  font-size: 40px;
}
.salad_step_two .accordion .icon:after {
  content: "+";
  font-size: 40px;
}
.salad_step_two .salad_cards .img_block {
  background: transparent;
  padding-bottom: 10px;
}
.salad_step_two .salad_cards .img_block .whishlist_icon {
  display: none;
}
.salad_step_two .salad_cards .img_block .whishlist_icon img {
  width: 23px;
}
.salad_step_two .salad_cards .cnt_block {
  padding-inline: 0px;
  min-height: 265px;
}
.salad_step_two .salad_cards.active .img_block .whishlist_icon {
  display: block;
}
.salad_step_two .salad_cards:hover .cnt_block .quantity-distribution {
  display: block;
}
.salad_step_two .cnt_block .primary_text {
  padding-top: 10px;
  padding-inline: 15px;
}
.salad_step_two .cnt_block .quantity-distribution {
  display: none;
  background-color: #FFF6E8;
  padding: 15px 13px;
  margin-top: 15px;
  margin-bottom: 5px;
}
.salad_step_two .cnt_block .quantity-distribution .slidecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  background: #FFF;
  padding: 9px 5px;
  margin-top: 10px;
  box-shadow: 0px 0px 7.9px 0px rgba(0, 0, 0, 0.08);
}
.salad_step_two .cnt_block .quantity-distribution .slidecontainer .range {
  background: #989898;
  height: 8px;
  max-width: 100%;
  width: 80%;
  position: relative;
  border: none;
  border-radius: 20px;
  margin: 16px / 1.5 0;
  appearance: none;
}
.salad_step_two .cnt_block .quantity-distribution .slidecontainer .range [type="range"] {
  appearance: none;
  background: transparent;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 16px;
}
.salad_step_two .cnt_block .quantity-distribution .slidecontainer .range [type="range"]:focus {
  outline: none;
}
.salad_step_two .cnt_block .quantity-distribution .slidecontainer .range [type="range"]::-webkit-slider-runnable-track {
  background: transparent;
}
.salad_step_two .cnt_block .quantity-distribution .slidecontainer .range [type="range"]::-moz-range-track {
  background: transparent;
}
.salad_step_two .cnt_block .quantity-distribution .slidecontainer .range [type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #339900;
  cursor: pointer;
  border: none;
}
.salad_step_two .cnt_block .quantity-distribution .slidecontainer .range [type="range"]::-moz-range-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #339900;
  cursor: pointer;
  border: none;
}
.salad_step_two .cnt_block .quantity-distribution .slidecontainer .range [type="range"]::-ms-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #339900;
  cursor: pointer;
  border: none;
}
.salad_step_two .cnt_block .quantity-distribution .slidecontainer .range [type="range"]::-ms-fill-lower {
  background: #339900;
}
.salad_step_two .cnt_block .quantity-distribution .slidecontainer .range [type="range"]::-ms-fill-upper {
  background: #989898;
}
.salad_step_two .cnt_block .quantity-distribution .slidecontainer .range [type="range"]::-ms-track {
  color: transparent;
  border: 0 solid transparent;
  background: transparent;
}
.salad_step_two .cnt_block .quantity-distribution .slidecontainer .range [type="range"]::-ms-tooltip {
  display: none;
}
.basket_container {
  display: flex;
  align-items: center;
  border-radius: 3px;
  background: #FEF7EB;
  justify-content: space-between;
  padding: 30px 20px;
  gap: 60px;
}
.basket_container .bas_inner {
  display: flex;
  align-items: center;
  overflow-x: auto;
  width: 60%;
  justify-content: center;
}
.basket_container .bas_inner::-webkit-scrollbar {
  display: none;
}
.basket_container > .item:first-child {
  width: 20%;
}
.basket_container > .item:first-child .close {
  display: none;
}
.basket_container > .item:last-child {
  width: 20%;
}
.basket_container .item {
  text-align: center;
  position: relative;
  margin: 0 10px;
}
.basket_container .item .item_tag {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: #000;
  width: 95%;
  margin: auto;
  padding-top: 20px;
}
.basket_container .item .item_tag.corn_full {
  width: 100%;
}
.basket_container .item .edit {
  color: #C51F3C;
  text-decoration: underline;
  cursor: pointer;
}
.basket_container .item .close {
  position: absolute;
  top: 0px;
  right: -25px;
  cursor: pointer;
}
.basket_container .item .percentage {
  font-size: 22px;
  line-height: 32px;
  color: #535353;
  font-weight: 400;
  padding-bottom: 35px;
}
.basket_container .item .primary_cta {
  background: #FFC700;
  color: #000;
  border-color: #000;
  min-width: 11em;
}
.basket_container .cal_sign {
  font-size: 54px;
  line-height: 66px;
  color: #000;
  font-weight: 500;
}
.add_cart_block {
  border-radius: 3px;
  background-color: #FEF7EB;
  padding: 30px;
  display: flex;
  gap: 20px;
}
.add_cart_block.grid3 {
  gap: 40px;
}
.add_cart_block .new_add_Cart_item {
  width: 33%;
}
.add_cart_block .add_item_outer {
  width: 66%;
  display: flex;
  gap: 20px;
  overflow-y: auto;
}
.add_cart_block .add_item_outer::-webkit-scrollbar {
  display: none;
}
.add_Cart_item {
  border: 1px solid #B3B3B2;
  background: #FFF;
  padding: 20px;
}
.add_Cart_item .top_cnt {
  text-align: center;
}
.add_Cart_item .top_cnt .cart_item_title {
  font-size: 22px;
  line-height: 33px;
  color: #000;
  font-weight: 600;
  padding-block: 10px;
}
.add_Cart_item .add_Cart_inner {
  background: #FFF;
  box-shadow: 0px 0px 4.8px 0px rgba(0, 0, 0, 0.21);
  padding: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.add_Cart_item .add_Cart_inner .size_bowl {
  text-align: center;
  border-right: 1px solid #CECECE;
  padding-right: 20px;
}
.add_Cart_item .add_Cart_inner .size_bowl .cart_inner_title {
  font-size: 20px;
  line-height: 28px;
  color: #000;
  font-weight: 600;
}
.add_Cart_item .add_Cart_inner .size_bowl .cart_msg {
  color: #390;
}
.add_Cart_item .add_Cart_inner .size_bowl .cart_img {
  padding-block: 10px;
}
.add_Cart_item .add_Cart_inner .size_bowl .edit {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #2C2C2C;
  text-decoration: underline;
}
.add_Cart_item .add_Cart_inner .size_bowl .quantity.primary_cta {
  padding: 0px;
  background: #FFC700;
  border: 0.5px solid #000;
}
.add_Cart_item .add_Cart_inner .size_bowl .quantity .input-box {
  background: #FFC700;
  border-inline: 0.5px solid #000;
  line-height: 20px;
}
.add_Cart_item .add_Cart_inner .selected_quantity {
  padding-left: 20px;
  text-align: center;
}
.add_Cart_item .add_Cart_inner .selected_quantity .selected_title {
  font-size: 17px;
  line-height: 25px;
  color: #000;
  width: 80%;
  margin: auto;
}
.add_Cart_item .add_Cart_inner .selected_quantity .total_qty {
  font-size: 16px;
  line-height: 24px;
  color: #808080;
}
.new_add_Cart_item {
  border: 2px dashed #000;
  background: #FFFEFC;
  box-shadow: 0px 0px 4.8px 0px rgba(0, 0, 0, 0.21);
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.new_add_Cart_item .new_add_title {
  color: #FFC700;
  text-decoration: underline;
  text-align: center;
  font-size: 34px;
  font-weight: 400;
  line-height: 46px;
}
.biscuit_landing_page .banner_inner .banner_block .banner_title {
  font-size: 48px;
  line-height: 52px;
  color: #000;
  text-align: left;
  font-weight: 400;
}
.biscuit_landing_page .salad_cards_outer .salad_subtitle {
  text-align: center;
}
.biscuit_landing_page .salad_cards_outer .bic_shop_all {
  text-align: center;
  color: #C51F3C;
  text-decoration: underline;
  display: block;
  padding-top: 0px;
  text-transform: uppercase;
}
.biscuit_landing_page .salad_cards_outer .biscuit_container {
  width: 80%;
  margin: auto;
}
.biscuit_landing_page .salad_cards_outer .biscuit_container .product_Card.salad_cards .img_block {
  padding-block: 60px;
}
.biscuit_landing_page .salad_cards_outer .biscuit_container .product_Card.salad_cards .img_block .whishlist_icon {
  display: none;
}
.biscuit_landing_page .salad_cards_outer .biscuit_container .product_Card.salad_cards .img_block .whishlist_icon.show {
  display: block;
}
.biscuit_landing_page .salad_cards_outer .biscuit_container .product_Card.salad_cards .product_cta .primary_cta {
  border-radius: 0px;
}
.biscuit_landing_page .salad_cards_outer .biscuit_container .product_Card.active {
  border: 1.5px solid #A26301;
}
.biscuit_landing_page .salad_cards_outer .biscuit_container .product_Card.active.salad_cards .img_block .whishlist_icon {
  display: block;
}
.biscuit_landing_page .salad_cards_outer .grid3 {
  gap: 80px;
}
.biscuit_landing_page .biscotti_container .product_Card.salad_cards .img_block .whishlist_icon {
  display: none;
}
.biscuit_landing_page .biscotti_container .product_Card.salad_cards .img_block .whishlist_icon.show {
  display: block;
}
.biscuit_landing_page .biscotti_container .product_Card.salad_cards .product_cta .primary_cta {
  border-radius: 0px;
}
.biscuit_landing_page .biscotti_container .product_Card.active {
  border: 1.5px solid #A26301;
}
.biscuit_landing_page .biscotti_container .product_Card.active.salad_cards .img_block .whishlist_icon {
  display: block;
}
.biscuit_landing_page .grid_4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
}
.biscuit_landing_page .biscuit_step_inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 20px;
}
.biscuit_landing_page .biscuit_step_inner::-webkit-scrollbar {
  display: none;
}
.biscuit_landing_page .salad_landing_swiper .product_Card.salad_cards {
  text-align: center;
}
.biscuit_landing_page .salad_landing_swiper .product_Card.salad_cards .create_box {
  border: 1px dashed #000;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.biscuit_landing_page .salad_landing_swiper .product_Card.salad_cards .create_box .box_title {
  color: #C51F3C;
  font-size: 29px;
  line-height: 32px;
  font-weight: 500;
  text-decoration: underline;
  text-align: center;
}
.biscuit_landing_page .salad_landing_swiper .product_Card.salad_cards .create_box.img_box {
  border: none;
  overflow: hidden;
}
.biscuit_landing_page .salad_landing_swiper .product_Card.salad_cards .create_box.img_box img {
  object-fit: cover;
}
.biscuit_landing_page .salad_landing_swiper .product_Card.salad_cards .swiper_text {
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
  padding-top: 20px;
}
.biscuit_landing_page .salad_landing_swiper .product_Card.salad_cards:hover {
  border-color: transparent;
}
.biscuit_landing_page .salad_landing_swiper .product_Card.salad_cards.active {
  border-color: transparent;
}
.biscuit_landing_page .bicuit_bg {
  background: #F9F9F9;
  border-block: 1.5px solid #A26301;
}
.biscuit_landing_page .second_bg {
  background: #FEF7EB;
}
.biscuit_landing_page .fav_bowl .salad_cards {
  width: 33%;
}
.biscuit_landing_page .fav_bicuits .salad_cards_outer {
  padding: 40px;
}
.biscuit_landing_page .fav_bicuits .salad_subtitle {
  padding-bottom: 30px;
}
.biscuit_landing_page .fav_bicuits .fav_container {
  width: 80%;
  margin: auto;
}
.biscuit_step_page .banner_inner .banner_block .banner_title {
  font-size: 48px;
  line-height: 52px;
  color: #000;
  text-align: left;
  font-weight: 400;
}
.biscuit_step_page .biscuit_step_inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 20px;
}
.biscuit_step_page .biscuit_step_inner::-webkit-scrollbar {
  display: none;
}
.biscuit_step_page .salad_step_two .salad_subtitle {
  padding-bottom: 10px;
}
.biscuit_step_page .salad_step_two .error_msge {
  color: #C51F3C;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 40px;
}
.biscuit_step_page .salad_step_two .salad_add_block {
  padding-bottom: 30px;
}
.biscuit_step_page .salad_step_two .product_Card .qua_box {
  padding-block: 10px;
  display: none;
}
.biscuit_step_page .salad_step_two .product_Card .qua_box .quantity {
  border-color: #5A5A5A;
  background: #FFC700;
  border-radius: 0px;
}
.biscuit_step_page .salad_step_two .product_Card .qua_box .input-box {
  background: #FFC700;
}
.biscuit_step_page .salad_step_two .product_Card .qua_box .succ_msge {
  color: #390;
  font-size: 15px;
  line-height: 26px;
  padding-top: 10px;
}
.biscuit_step_page .salad_step_two .product_Card.active .qua_box {
  display: block;
}
.biscuit_step_page .salad_step_two .product_Card:hover {
  border: 1.5px solid #A26301;
}
.biscuit_step_page .salad_step_two .product_Card:hover .qua_box {
  display: block;
}
.biscuit_step_page .salad_step_two .salad_cards .cnt_block {
  padding-inline: 0px;
  min-height: 250px;
}
.biscuit_step_page .add_basket_block .item .half_line {
  width: 80%;
}
.biscuit_step_page .add_basket_block .item .primary_cta {
  border-radius: 0px;
  background-color: #C51F3C;
  border-color: #C51F3C;
  color: #fff;
}
.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
}
@media screen and (min-width: 200px) and (max-width: 1024px) {
  .hide {
    display: none;
  }
  .salad_landing_page .banner_inner {
    padding-top: 0px;
  }
  .salad_landing_page .banner_inner .banner_block .banner_content {
    padding-top: 0px;
  }
  .salad_landing_page .banner_inner .banner_block .banner_content .banner_title {
    font-family: 'poppins', sans-serif;
    font-size: 24px;
    line-height: 32px;
  }
  .salad_cards_outer .salad_subtitle {
    font-size: 18px;
    line-height: 28px;
    color: #313131;
    font-weight: 700;
    text-align: left;
  }
  .salad_cards_outer .salad_subtitle:nth-child(2) {
    padding-bottom: 30px;
  }
  .salad_cards_outer .slider-wrapper {
    margin-top: 10px;
  }
  .salad_cards_outer .slider-wrapper .swiper-container {
    position: static;
    padding-bottom: 20px;
  }
  .salad_cards_outer .salad_landing_swiper {
    padding-inline: 3%;
  }
  .product_Card.salad_cards .img_block {
    padding: 15px;
  }
  .product_Card.salad_cards .img_block .cnt_block.size {
    padding: 0px;
  }
  .product_Card.salad_cards .img_block .cnt_block.size .product_title {
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .product_Card.salad_cards .img_block .product_img img {
    width: 60%;
  }
  .product_Card.salad_cards .cnt_block {
    padding: 15px;
  }
  .product_Card.salad_cards .cnt_block .product_title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0px;
  }
  .product_Card.salad_cards .cnt_block .falvour {
    width: 100%;
    font-size: 12px;
    line-height: 18px;
  }
  .product_Card.salad_cards .cnt_block .price {
    font-size: 16px;
    line-height: 24px;
  }
  .product_Card.salad_cards .cnt_block .product_cta {
    padding-top: 10px;
  }
  .product_Card.salad_cards .cnt_block .product_cta .primary_cta {
    min-width: 7em;
    padding: 6px 10px;
  }
  .create_bowl_outer {
    display: flex;
    flex-direction: column;
  }
  .create_bowl_outer .common_block {
    flex: unset;
  }
  .create_bowl_outer .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Adjust the color and opacity as needed */
    z-index: 1;
  }
  .create_bowl_outer .create_bowl {
    padding: 20px;
    gap: 15px;
    display: none;
  }
  .create_bowl_outer .create_bowl .create_circle {
    height: 200px;
    width: 200px;
  }
  .create_bowl_outer .create_bowl .create_circle .circle_title {
    font-size: 24px;
    line-height: 36px;
  }
  .create_bowl_outer .create_bowl .create_title {
    font-size: 24px;
    line-height: 36px;
    width: 100%;
  }
  .create_bowl_outer .image_bowl img {
    height: auto;
    object-fit: none;
    width: 100%;
  }
  .create_bowl_outer .image_bowl .create_bowl_mobile {
    display: block;
  }
  .fav_bowl_outer {
    padding-top: 0px;
  }
  .fav_bowl {
    gap: 20px;
  }
  .fav_bowl .salad_cards {
    width: 400px;
  }
  .fav_bowl .salad_cards .img_block {
    padding-block: 20px;
  }
  .salad_page .grid3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 40px;
  }
  .salad_page .salad_step_inner {
    width: 100%;
    margin: auto;
  }
  .salad_page .salad_add_block .primary_title {
    font-size: 19px;
    line-height: 28px;
  }
  .salad_step_one .salad_subtitle {
    text-align: center;
  }
  .salad_step_one .salad_subtitle:nth-child(2) {
    padding-bottom: 30px;
  }
  .salad_step_one .salad_cards .img_block .cnt_block.size .product_title {
    margin-bottom: 5px;
    margin-top: 30px;
  }
  .salad_step_one .salad_cards .img_block .cnt_block.size .size_cnt {
    color: #313131;
    font-weight: 500;
    width: 100%;
    margin: auto;
  }
  .salad_step_one .salad_cards .img_block .product_img {
    display: block;
    padding-block: 30px;
    min-height: 0px;
  }
  .salad_step_two .cnt_block .quantity-distribution {
    display: block;
  }
  .basket_container {
    padding: 20px 10px;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .basket_container .item:first-child {
    width: 20%;
  }
  .basket_container .item:last-child {
    width: 20%;
  }
  .basket_container .bas_inner {
    width: 60%;
    justify-content: center;
  }
  .basket_container .bas_inner .item {
    min-width: 2em;
  }
  .basket_container .item {
    margin: 0px;
  }
  .basket_container .item .edit {
    font-size: 12px;
    line-height: 18px;
  }
  .basket_container .item .item_tag {
    font-size: 12px;
    line-height: 18px;
    padding-top: 10px;
  }
  .basket_container .item .close img {
    width: 60%;
  }
  .basket_container .item .circle {
    display: none;
  }
  .basket_container .item .percentage {
    font-size: 12px;
    line-height: 15px;
    color: #535353;
    font-weight: 400;
    padding-bottom: 10px;
  }
  .basket_container .item .primary_cta {
    min-width: 9em;
    margin-top: 10px;
  }
  .basket_container .cal_sign {
    font-size: 20px;
    line-height: 25px;
  }
  .add_cart_block {
    flex-direction: column;
    justify-content: center;
  }
  .add_cart_block .add_item_outer {
    width: 100%;
  }
  .add_cart_block .new_add_Cart_item {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
  }
  .add_Cart_item {
    min-width: 13em;
  }
  .add_Cart_item .top_cnt .cart_item_title {
    font-size: 16px;
    line-height: 24px;
  }
  .add_Cart_item .add_Cart_inner {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .add_Cart_item .add_Cart_inner .size_bowl {
    text-align: center;
    border-right: 0px;
    padding-right: 0px;
  }
  .add_Cart_item .add_Cart_inner .size_bowl .cart_inner_title {
    font-size: 18px;
    line-height: 26px;
    color: #000;
    font-weight: 600;
  }
  .add_Cart_item .add_Cart_inner .size_bowl .quantity.primary_cta {
    min-width: 11em;
  }
  .add_Cart_item .add_Cart_inner .selected_quantity {
    padding-left: 0px;
    text-align: center;
  }
  .add_Cart_item .add_Cart_inner .selected_quantity .total_qty {
    display: none;
  }
  .add_Cart_item .add_Cart_inner .selected_quantity .selected_title {
    font-size: 16px;
    line-height: 24px;
    color: #000;
    width: 100%;
    margin: auto;
  }
  .new_add_Cart_item {
    border: 2px dashed #000;
    background: #FFFEFC;
    box-shadow: 0px 0px 4.8px 0px rgba(0, 0, 0, 0.21);
    padding: 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .new_add_Cart_item .new_add_title {
    color: #FFC700;
    text-decoration: underline;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
  }
  .add_cart_block {
    border-radius: 3px;
    background-color: #FEF7EB;
    padding: 20px;
  }
  .add_cart_block.grid3 {
    gap: 20px;
  }
  .biscuit_landing_page .banner_inner .banner_block .banner_content {
    padding-top: 0px;
    margin: unset;
  }
  .biscuit_landing_page .banner_inner .banner_block .banner_content .banner_title {
    font-size: 24px;
    line-height: 32px;
    color: #000;
    text-align: left;
    font-weight: 400;
  }
  .biscuit_landing_page .salad_cards_outer .salad_subtitle {
    text-align: center;
  }
  .biscuit_landing_page .salad_cards_outer .biscuit_container {
    width: 100%;
    margin: auto;
  }
  .biscuit_landing_page .salad_cards_outer .grid3 {
    gap: 40px;
  }
  .biscuit_landing_page .grid_4 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 40px;
  }
  .biscuit_landing_page .grid3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 40px;
  }
  .biscuit_landing_page .salad_landing_swiper .product_Card {
    border: 0px;
  }
  .biscuit_landing_page .salad_landing_swiper .product_Card.salad_cards .create_box .box_title {
    color: #C51F3C;
    font-size: 20px;
    line-height: 32px;
  }
  .biscuit_landing_page .salad_landing_swiper .product_Card.salad_cards .swiper_text {
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    padding-top: 20px;
  }
  .biscuit_landing_page .salad_landing_swiper .product_Card.salad_cards:hover {
    border-color: transparent;
  }
  .biscuit_landing_page .fav_bicuits .salad_cards_outer {
    padding: 20px;
  }
  .biscuit_landing_page .fav_bicuits .salad_subtitle {
    padding-bottom: 30px;
  }
  .biscuit_landing_page .fav_bicuits .fav_container {
    width: 100%;
    margin: auto;
  }
  .biscuit_landing_page .fav_bowl .salad_cards {
    width: 400px;
  }
  .biscuit_step_page .salad_step_two .error_msge {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 20px;
  }
  .biscuit_step_page .salad_step_two .salad_add_block {
    padding-bottom: 20px;
  }
  .biscuit_step_page .salad_step_two .product_Card .qua_box {
    display: block;
  }
  .biscuit_step_page .add_basket_block .item .half_line {
    width: 100%;
  }
  .biscuit_step_page .banner_inner {
    padding-top: 0px;
  }
  .biscuit_step_page .banner_inner .banner_block .banner_content {
    padding-top: 0px;
    margin: 0px;
  }
  .biscuit_step_page .banner_inner .banner_block .banner_content .banner_title {
    font-size: 24px;
    line-height: 33px;
    color: #fff;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .salad_landing_page .banner_inner {
    padding-top: 0px;
  }
  .salad_landing_page .banner_inner .banner_block .banner_content {
    padding-top: 0px;
  }
  .salad_landing_page .banner_inner .banner_block .banner_content .banner_title {
    font-family: 'poppins', sans-serif;
    font-size: 30px;
    line-height: 38px;
  }
  .biscuit_landing_page .banner_inner .banner_block .banner_content {
    padding-top: 0px;
    margin: unset;
  }
  .biscuit_landing_page .banner_inner .banner_block .banner_content .banner_title {
    font-size: 30px;
    line-height: 38px;
    color: #000;
    text-align: left;
    font-weight: 400;
  }
  .create_bowl_outer {
    display: flex;
    flex-direction: row;
  }
  .create_bowl_outer .common_block {
    flex: 1;
  }
  .create_bowl_outer .create_bowl {
    padding: 20px;
    gap: 15px;
  }
  .create_bowl_outer .create_bowl .create_circle {
    height: 200px;
    width: 200px;
  }
  .create_bowl_outer .create_bowl .create_circle .circle_title {
    font-size: 24px;
    line-height: 36px;
  }
  .create_bowl_outer .create_bowl .create_title {
    font-size: 24px;
    line-height: 36px;
    width: 100%;
  }
  .create_bowl_outer .image_bowl img {
    height: 100%;
    object-fit: cover;
  }
  .salad_page .grid3 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    gap: 40px;
  }
  .grid3 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    gap: 40px;
  }
  .basket_container {
    padding: 20px;
    flex-wrap: nowrap;
  }
  .add_cart_block {
    flex-direction: row;
    justify-content: center;
  }
  .add_cart_block .add_item_outer {
    width: 66%;
  }
  .add_cart_block .new_add_Cart_item {
    width: 33%;
    box-sizing: border-box;
  }
  .add_Cart_item {
    min-width: 13em;
  }
  .biscuit_landing_page .grid_4 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    gap: 40px;
  }
  .biscuit_step_page .banner_inner {
    padding-top: 0px;
  }
  .biscuit_step_page .banner_inner .banner_block .banner_content {
    padding-top: 0px;
    margin: 0px;
  }
  .biscuit_step_page .banner_inner .banner_block .banner_content .banner_title {
    font-size: 30px;
    line-height: 38px;
    color: #fff;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1480px) {
  .salad_landing_page .banner_inner {
    padding-top: 0px;
  }
  .salad_landing_page .banner_inner .banner_block .banner_content {
    margin: auto;
    max-width: 600px;
    padding-top: 0px;
  }
  .salad_landing_page .banner_inner .banner_block .banner_content .banner_title {
    font-family: 'poppins', sans-serif;
    font-size: 40px;
    line-height: 56px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-bottom: 0px;
  }
  .product_Card.salad_cards .cnt_block .falvour {
    width: 90%;
  }
  .grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
  }
  .salad_cards_outer .salad_subtitle {
    font-size: 34px;
    line-height: 43px;
  }
  .create_bowl_outer .create_bowl .create_circle {
    height: 220px;
    width: 220px;
  }
  .create_bowl_outer .create_bowl .create_circle .circle_title {
    font-size: 32px;
    line-height: 42px;
  }
  .create_bowl_outer .create_bowl .create_title {
    font-size: 32px;
    line-height: 42px;
    width: 70%;
  }
  .fav_bowl {
    gap: 40px;
  }
  .fav_bowl .salad_cards {
    width: 25%;
  }
  .fav_bowl .salad_cards .img_block {
    padding-block: 30px;
  }
  .fav_bowl .salad_cards .cnt_block .product_title {
    font-size: 20px;
    line-height: 30px;
  }
  .salad_page .grid3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
  }
  .salad_page .salad_step_inner {
    width: 100%;
    margin: auto;
  }
  .basket_container {
    gap: 30px;
    justify-content: space-between;
  }
  .basket_container .item .item_tag {
    font-size: 20px;
    line-height: 32px;
  }
  .basket_container .item .percentage {
    font-size: 20px;
    line-height: 30px;
    color: #535353;
    font-weight: 400;
    padding-bottom: 30px;
  }
  .basket_container .cal_sign {
    font-size: 40px;
    line-height: 56px;
  }
  .add_cart_block {
    border-radius: 3px;
    background-color: #FEF7EB;
    padding: 20px;
    box-sizing: border-box;
  }
  .add_cart_block.grid3 {
    gap: 20px;
  }
  .add_cart_block .new_add_Cart_item {
    width: 28%;
  }
  .add_cart_block .add_item_outer {
    width: 72%;
    display: flex;
    gap: 20px;
    overflow-y: auto;
  }
  .add_cart_block .add_item_outer::-webkit-scrollbar {
    display: none;
  }
  .add_Cart_item {
    border: 1px solid #B3B3B2;
    background: #FFF;
    padding: 10px;
  }
  .add_Cart_item .top_cnt {
    text-align: center;
  }
  .add_Cart_item .top_cnt .cart_item_title {
    font-size: 20px;
    line-height: 32px;
    color: #000;
    font-weight: 600;
    padding-block: 10px;
  }
  .add_Cart_item .add_Cart_inner {
    background: #FFF;
    box-shadow: 0px 0px 4.8px 0px rgba(0, 0, 0, 0.21);
    padding: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .add_Cart_item .add_Cart_inner .size_bowl {
    text-align: center;
    border-right: 1px solid #CECECE;
    padding-right: 5px;
  }
  .add_Cart_item .add_Cart_inner .size_bowl .cart_inner_title {
    font-size: 19px;
    line-height: 27px;
    color: #000;
    font-weight: 600;
  }
  .add_Cart_item .add_Cart_inner .size_bowl .quantity.primary_cta {
    min-width: 9em;
  }
  .add_Cart_item .add_Cart_inner .selected_quantity {
    padding-left: 10px;
    text-align: center;
  }
  .new_add_Cart_item {
    border: 2px dashed #000;
    background: #FFFEFC;
    box-shadow: 0px 0px 4.8px 0px rgba(0, 0, 0, 0.21);
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .new_add_Cart_item .new_add_title {
    color: #FFC700;
    text-decoration: underline;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
  }
  .biscuit_landing_page .grid_4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .biscuit_landing_page .fav_bicuits .fav_container {
    width: 100%;
    margin: auto;
  }
  .biscuit_landing_page .salad_cards_outer .biscuit_container {
    width: 100%;
    margin: auto;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1480px) {
  .add_cart_block {
    border-radius: 3px;
    background-color: #FEF7EB;
    padding: 20px;
    box-sizing: border-box;
  }
  .add_cart_block.grid3 {
    gap: 20px;
  }
  .add_Cart_item {
    border: 1px solid #B3B3B2;
    background: #FFF;
    padding: 20px;
  }
  .add_Cart_item .top_cnt {
    text-align: center;
  }
  .add_Cart_item .top_cnt .cart_item_title {
    font-size: 20px;
    line-height: 32px;
    color: #000;
    font-weight: 600;
    padding-block: 10px;
  }
  .add_Cart_item .add_Cart_inner {
    background: #FFF;
    box-shadow: 0px 0px 4.8px 0px rgba(0, 0, 0, 0.21);
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .add_Cart_item .add_Cart_inner .size_bowl {
    text-align: center;
    border-right: 1px solid #CECECE;
    padding-right: 10px;
  }
  .add_Cart_item .add_Cart_inner .size_bowl .cart_inner_title {
    font-size: 19px;
    line-height: 27px;
    color: #000;
    font-weight: 600;
  }
  .add_Cart_item .add_Cart_inner .size_bowl .quantity.primary_cta {
    min-width: 10em;
  }
  .add_Cart_item .add_Cart_inner .selected_quantity {
    padding-left: 10px;
    text-align: center;
  }
  .new_add_Cart_item {
    border: 2px dashed #000;
    background: #FFFEFC;
    box-shadow: 0px 0px 4.8px 0px rgba(0, 0, 0, 0.21);
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .new_add_Cart_item .new_add_title {
    color: #FFC700;
    text-decoration: underline;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
  }
  .biscuit_landing_page .grid_4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}
