@import (reference) 'global.less';



.nav-sections-item-content{max-width: 1900px; width: 100%; margin: auto;}
.nav-sections-items{    background-color: rgba(255, 255, 255, 0.9);  }

.nav-sections{
  // position: relative;
  z-index: 99; 
  position: fixed;
  top: 0px;
  width: 100%;

   
    .navigation{padding: 10px 40px; display: flex; justify-content: space-between; gap: 40px; box-sizing: border-box; align-items: center;
     width: 100%;
      &.zero_top{top: 0px;}
      // &.remove_space{ }

        .nav-section-left{
          flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;
        .nav_bar{justify-content: center;}

     
      }


 
    .res_mobile{display: none;}
    .nav-section-logo{ text-align: center;}
    .nav-section-right{ 
         .nav-section-ctas{display: flex; align-items: center; gap: 25px; justify-content: end;
             .sell_car_cta{
                 .transparent_cta{
                  min-width: 9em; padding: 5px 15px;font-size: 16px; line-height: 20px; color: #E61122; font-weight: 500;
                 }
             }
        }

    }

    .nav-section-left{
      .sell_car_cta{ display: none;

    }
    }
     .nav-section{
    
      .close_side_bar{display: none;}
          .nav_bar{display: flex; gap: 45px;
   
              li{
                 display: flex; align-items: center; gap: 15px; cursor: pointer;   position: relative; padding-block: 10px;
                a{font-size: 18px; line-height: 26px; color: #212121; font-weight: 400; text-transform: capitalize;
                
                }
        
                &:hover{
                >   a{  color:@red_color;}
                  svg{
                    path{
                      fill:@red_color;
                    }
                  }
                }
              
                
              }
            .first_layer { display: none; position: absolute; z-index: 10; left: 0px; top: 100%; min-width: 10em; padding: 15px 20px; box-sizing: border-box; background-color: var(--primary_bg); border-radius: 10px; box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%); }

           &:hover{
            .first_layer {
              display: block;
          }
           }
         }
         
       }
    }

 
}

@media @media-query-base{

 
  .nav-sections{
   
     
      .navigation{padding: 10px; gap: 20px; box-sizing: border-box; align-items: center;
       width: 100%;
    
  

      .res_mobile{display: block;}
      .nav-section-logo{ text-align: center; img{width: 50px;}}
      .nav-section-right{
  
       
           .nav-section-ctas{display: flex; align-items: center; gap: 15px; justify-content: end;
               .sell_car_cta{ display: none;
                   .transparent_cta{
                    min-width: 9em; padding: 6px 15px;font-size: 16px; line-height: 23px;
                   }
               }
          }
  
      }
      .nav-section-left{
        .sell_car_cta{ display: block; text-align: left; margin-top: 20px;
          .transparent_cta{
           min-width: 9em; padding: 6px 15px;font-size: 15px; line-height: 17px;
          }
      }
      }
       .nav-section{
        .close_side_bar{display: block; text-align: end;
        svg {
            width: 20px;
        }
        }
       
            .nav_bar{flex-direction: column;  gap: 0px;
             
                li{
                  align-items: center; gap: 5px; cursor: pointer; justify-content: space-between; flex-wrap: wrap; padding-block: 10px;
                  a{font-size: 16px; line-height: 24px; 
                 
                  }
                
                  
                }
                .first_layer{        position: static;
                  min-width: 100%;}
                
                .drop_icon{
                  position: relative;
                  svg{width: 8px;}
                }
           }
           
         }
      }
  
   
  }




}

@media @media-query-tablet{
  .nav-sections{  
    .navigation{  .nav-section-logo{img{width: 70%;}}}
  }

}


  

@media screen and (min-width:1025px) and (max-width:1480px) {
  .nav-sections{
  
  
     
      .navigation{padding: 15px 30px; display: flex; justify-content: space-between; gap: 30px; 

  
          .nav-section-left{
            flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 20px;
          .nav_bar{justify-content: center;}
        }
  

      .nav-section-right{
  
       
           .nav-section-ctas{display: flex; align-items: center; gap: 15px; justify-content: end;
               .sell_car_cta{
                   .transparent_cta{
                    min-width: 8em; padding: 6px 15px;font-size: 15px; line-height: 18px;
                   }
               }
          }
  
      }
  
      .nav-section-left{
        .sell_car_cta{ display: none;
  
      }
      }
       .nav-section{
        .close_side_bar{display: none;}
            .nav_bar{display: flex; gap: 20px;
             
                li{
                   display: flex; align-items: center; gap: 15px; cursor: pointer;
                  a{font-size: 16px; line-height: 23px; color: #212121; font-weight: 400; text-transform: capitalize;
                 
                  }
                
                  
                }
           }
           
         }

         .nav-section-logo{img{width: 80%;}}
      }
  
   
  }

}


@media screen and (min-width: 1280px) and (max-width: 1480px) {
  .nav-sections{
  
  
     
    .navigation{padding: 10px 50px; display: flex; justify-content: space-between; gap: 30px; 




    .nav-section-right{

     
         .nav-section-ctas{display: flex; align-items: center; gap: 25px; justify-content: end;
             .sell_car_cta{
                 .transparent_cta{
                  min-width: 9em; padding: 6px 15px;font-size: 15px; line-height: 18px;
                 }
             }
        }

    }

    .nav-section-left{
      .sell_car_cta{ display: none;

    }
    }
     .nav-section{
      .close_side_bar{display: none;}
          .nav_bar{display: flex; gap: 30px;
           

         }
         
       }

       .nav-section-logo{img{width: 70%;}}
    }

 
}
}





    
