@import "global";
@import "header.less";
@import "footer.less";


// banner styling
.main_banner {
    position: relative;    
    img{width: 100%;}
     .banner_inner {
        position: absolute;
        top: 50%;
        left: 0px;
        width: 100%;
        transform: translateY(-50%);
    }

    .banner_block {
        max-width: 1600px;
        margin: auto;
        padding: 0px 30px;
        box-sizing: border-box;
    }

     .banner_content {
        max-width: 900px;
        width: 100%;
        border-radius: 10px;
        box-sizing: border-box; margin: auto;
        h1{color: #FFF; text-align: center; font-size: 70px; line-height: 80px; font-weight: 800;padding-bottom: 15px; text-transform: capitalize;}
        p{color: #FFF; text-align: center; font-size: 22px; font-weight: 400; line-height: 33px; padding-bottom: 40px;}

        .nav-tabs {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            gap: 20px;
            a { margin: 0 10px; font-weight: 500; color: white; text-decoration: none; border-bottom: 2px solid transparent; &.active { border-bottom: 2px solid white; } }
        }
    

        .search-container {
            background-color: white;
            padding: 15px;
            border-radius: 10px;
             width: 100%; display: flex; justify-content: space-between; gap: 40px; box-sizing: border-box;
            .primary_cta{
                 display: flex; align-items: center; padding-block: 6px; line-height: 18px;
                &::before{
                    content: "";
                    background-image:  url("../images/search.webp");background-repeat: no-repeat; background-position:  center; background-size: 20px; padding: 20px;
                }
                // background-image: url("../images/search.webp"); background-repeat: no-repeat; background-position: 13% center; background-size: 20px;
                 min-width: 11em;
                &:hover{
                    background-color: @primary_color; color: @primarywhiteColor;
                }
            }

            select{
                margin: 5px; border: 0px; outline: none; cursor: pointer; flex: 1;    background-position: 92% center;
                     &:nth-child(2){
                        border-inline: 1px solid #e5e5e5; border-radius: 0px;  
                     }
            }
         
            .advance-filter {
                margin-top: 10px;
                color: white;
                text-decoration: underline;
                cursor: pointer;
            }
        }
     
      

        .banner_cta_block{ padding-top: 24px; 
                .primary_cta{
                    &.banner_cta{background: transparent; color: #fff; border-color: #fff;}
                }
        } 
    }

}

//select styling
select{border:0px; background-color: transparent; font-size: 17px; line-height: 22px; color:  #050B20; font-weight: 400;  outline: none;    font-family: 'Helvetica Now Display'; appearance: none; background-image: url("../images/select.png"); background-repeat: no-repeat; background-position: 98% center; background-size: 10px;    padding-right: 20px;padding-left: 20px; box-sizing: border-box;}


//sell car styling

.sell_Car{
    > .primary_title{padding-bottom: 35px; text-transform: capitalize;}
}

// post card
.post_Card{
   padding: 50px;  border-radius: 10px; box-sizing: border-box;
   
    ul{
        li{color: #5A5A5A; font-size: 16px; line-height: 24px; padding-bottom: 6px;}
    }
    .cta_block{
        display: flex; align-items: center; justify-content: space-between;
        .primary_cta{color: #fff;background-color: @primary_color;
            &::after{
                content:  url("../images/cta_arrow.webp"); margin-left: 10px;
            }
        } 
    }

    &.blue_card{
        background-color: #ECF4FF; 
        h3{font-size: 34px; line-height: 46px; color: #00397B; font-weight: 700; padding-bottom: 25px; }
        ul{
            li{
                &::before{
                    content:  url("../images/blue_tick.webp"); margin-right: 10px;
                }
            }
        }
    }
    &.yellow_card{
        background-color:  rgba(248, 206, 98, 0.14); 
        h3{font-size: 34px; line-height: 46px; color: rgba(211, 153, 4, 1); font-weight: 700; padding-bottom: 25px; }
        ul{
            li{
                &::before{
                    content:  url("../images/white_tick.webp"); margin-right: 10px;
                }
            }
        }
        .cta_block{
             min-height: 112px;
            .primary_cta{ background-color: rgba(227, 164, 0, 1); border-color: rgba(227, 164, 0, 1); color: #fff;} 
        }
    }
}


//two column block
.two_column_block{
    display: flex; gap: 30px;  align-items: center;
     .column{flex: 1;}
}


//home slider styling

.home_slider_block{
    background-color: #fff;
    border-radius: 10px; padding: 80px 40px; box-sizing: border-box;
    // .swiper-container {
    //     width: 90%;
    //     overflow: hidden;
    // }
    .primary_title{text-transform: capitalize; color: rgba(20, 22, 82, 1); padding-bottom: 15px;}
  >  .primary_text{text-align: center; padding-bottom: 40px;}
.swiper-slide { display: grid; grid-template-columns: repeat(5,1fr); gap: 20px; }
.slider_tabs{padding-bottom: 40px; display: flex; gap: 25px; justify-content: center;
    .transparent_cta{min-width: 6em; border-radius: 50px; color:rgba(0, 0, 0, 1); font-size: 16px; line-height: 18px; border: 1px solid  rgba(233, 233, 234, 1);
       &.active{border-color: @red_color; color: @red_color;}
       &:hover{color: #fff; border-color: @primary_color}
    }
}



}

.swiper-wrapper{padding-bottom: 40px;
}

.swiper-pagination-bullets{position: static;
 
    .swiper-pagination-bullet {    background: transparent;
     border: 1px solid rgba(0, 21, 63, 1);
           &.swiper-pagination-bullet-active{background:  rgba(0, 21, 63, 1);}
 }
 }

.img_card { background-color: white; border: 1px solid #ddd; border-radius: 8px; display: flex; justify-content: center; align-items: center; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); flex-direction: column; gap: 8px; padding: 45px;

    h3{color: rgba(0, 2, 55, 1); font-size: 22px; line-height: 30px; font-weight: 700; text-align: center;}
  p{
   color:rgba(0, 0, 0, 1);font-size: 16px; line-height: 24px; font-weight: 500;

  }

 
}



.top_cnt_view{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    a{ 
        &.primary_text{
            color: rgba(0, 0, 0, 1);  font-weight: 500;
            &::after{
                content:  url("../images/black_arrow.webp"); margin-left: 10px; margin-bottom: 2px;
            }
        }
    }
    .primary_title{padding-bottom: 0px; text-transform: capitalize;}
}

.home_explore{
    .explore_tabs {
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(190, 190, 190, 1);
       padding-bottom: 8px;
        margin-bottom: 33px;
        .tab {
            margin-right: 20px;
            position: relative;
            padding-bottom: 5px;
            font-weight: 500;
            &.active{
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: -9px;
                    width: 100%;
                    height: 3px;
                    background-color: #f5a623;
                }
            }
        }
       
    }
    .swiper-wrapper{padding-bottom: 40px;
    }
    
    &.blue_bg{
   background-color: rgba(236, 244, 255, 1);
    }
    &.grey_bg{
      background-color: rgba(244, 244, 244, 1);


    }

    &.dark_grey{
   background-color: rgba(63, 63, 63, 1);
     .top_cnt_view{
        a{
            &.primary_text {color: #ffff;
                &::after{
                    content:  url("../images/cta_arrow.webp"); margin-left: 10px;
                }
            }
        }
        .primary_title{color: #fff;}
     }
     .explore_tabs{
        .tab{color: #ffff;}
     }

     .swiper-pagination-bullets{position: static;
 
        .swiper-pagination-bullet {    background: transparent;
         border: 1px solid  rgba(255, 255, 255, 1);
               &.swiper-pagination-bullet-active{background:  
                rgba(255, 255, 255, 1)}
     }
     }
    }
}


.vehicles_card{
    background-color:   rgba(3, 37, 76, 1); border-radius: 12px;
     .img_block{
         position: relative;
          .pro_img{width: 100%; object-fit: fill;}
          .icon{position: absolute; top: 20px; right:20px}
          .img_cta{position: absolute; top: 20px; left: 20px; font-size: 14px; line-height: 18px; color: #fff; border-radius: 50px; background-color: rgba(227, 164, 0, 1); border-color:rgba(227, 164, 0, 1); min-width: 7em;}
     }
     .cnt_block{
        padding: 20px 30px;
         .cnt_title{font-size: 20px; line-height: 32px; padding-bottom: 20px; color: #fff; font-weight: 500;}
         .cnt_icons{display: flex; justify-content: space-between; border-bottom: 1px solid rgba(100, 100, 100, 1); padding-bottom: 15px;
          .icon{text-align: center;
           p{font-size: 14px; line-height: 21px; color: #ffff; font-weight: 400;}

          
        }
        }

        .price_block{display: flex; justify-content: space-between; align-items: center; padding-top: 20px;
           .view_detail{font-size: 15px; line-height: 23px; color: 
            rgba(255, 255, 255, 1); font-weight: 500;
            &::after{
                content:  url("../images/cta_arrow.webp"); margin-left: 10px;
            }
        }
            .price{font-size: 20px; line-height: 28px; font-weight: 700; color: #fff;}
        }
     }

     &.dark_grey{ background-color: rgba(63, 63, 63, 1); }
     &.white_bg{background-color: #fff;
       .cnt_block{
           .cnt_title{color: rgba(5, 11, 32, 1)}
           .icon{
              p{color: rgba(102, 102, 102, 1);}
           }
           .price_block{
            .price{color: rgba(34, 34, 34, 1);}
                .view_detail{color: rgba(0, 102, 204, 1);
                    &::after{
                        content:  url("../images/blue_arrow.webp"); margin-left: 10px;
                    }
                }
           }
       }
    }
}



// africa_whell_home

.africa_whell_home{
    .top_cnt_view{padding-bottom: 50px;
    h2{color: rgba(20, 22, 82, 1);}}
    .img_card{
         p{ color: rgba(126, 126, 126, 1); width: 70%; margin: auto; text-align: center; }


         &:hover{
            border-color: @red_color;
         }
    }
}



//car comparison

.home_car_comparison{
      background-color: rgba(228, 239, 255, 0.5); padding: 100px; border-radius: 10px;text-align: center; background-image: url(../images/left_Car.webp), url(../images/right_Car.webp); background-position: left center, right center; background-repeat: no-repeat, no-repeat; background-size: 250px, 250px;    
        h2{font-size: 45px; line-height: 56px; color:  rgba(0, 4, 13, 1); padding-block: 20px; width: 60%; margin: auto;}
        p{font-size: 21px; line-height: 30px; color:  rgba(29, 29, 31, 1); padding-bottom: 20px; }
        .primary_cta{min-width: 14em;}
    }


//blog section    
.blog_home{
     .top_cnt_view{
         .primary_title{color: #141652;}
     }
}

//blog_Card 
.blog_Card{
    background-color: #F1F7FF; border-radius: 24px;
     .blog_img{img{width: 100%;}}
    .blog_cnt{
        padding: 25px; 
        .block_read{display: flex; gap: 20px; align-items: center;font-size: 14px; line-height: 20px;
            padding-bottom: 15px;
          a{background-color: #CEE4FE;  color: #000; padding: 6px; border-radius: 5px; font-weight: 500;}
          span{
            color: #8C8C8C;
          }
         
        }
      >  a{
           font-size: 24px; line-height: 32px;margin-bottom: 8px;  font-weight: 700; color: rgba(0, 0, 0, 1); 
           display: -webkit-box;
           -webkit-line-clamp: 1;
           -webkit-box-orient: vertical;  
           overflow: hidden; 
        }
        p{color: #8C8C8C; margin-bottom: 14px;font-size: 16px; line-height: 24px;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }
       .read_cta{
            color: #0066CC; font-size: 16px; line-height: 24px; font-weight: 500;
            &::after{
                content:  url("../images/blue_arrow.webp"); margin-left: 10px;
            }
        }
    }
}